* {
	font-family: 'Noto Sans', sans-serif;
}

body {
	padding: 10px;
}

input, button {
	border: 0;
	outline: 0;
}

.auth-page {
	display: flex;
	justify-content: center;
	text-align: center;

	margin: 5vh 5vw 0 5vw;
}

.auth-header {
	font-size: 36px;
	text-align: center;
}

.auth-question {
	margin-top: 10vh;
}

.auth-button {
	margin-top: 5px !important;
}

.auth-form,
.coin-page {
	width: 310px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.label-form {
	font-weight: 600;
	font-size: 17px;
}

.input-form {
	min-width: 300px;

	padding: 13px;
	margin: 10px 0 20px 0;

	font-size: 16px;

	border-radius: 28px;
	border: 1px solid #416dfe;
}

.button {
	cursor: pointer;
	width: 250px;

	padding: 18px 0;
	margin-top: 15px;

	text-align: center;

	font-weight: 600;
	font-size: 17px;

	border-radius: 70px;

	transition: 0.2s ease-in-out;
}

.button:hover, .buttom:active {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.button-primary {
	color: #FFF;
	background-color: #416dfe;
}

.button-primary:hover {
	color: #000;
	background-color: #FFF;
}

.button-secondary {
	background-color: #fff;
	border: 1px solid #416dfe;
}

.button-secondary:hover {
	background-color: #416dfe;
	color: #FFF;
}

.error {
	display: block;

	text-align: center;

	color: #e63946;
}

.coin-image {
	display: block;
	height: 100px;
	width: 100px;
	margin: 0 auto;

	animation: tosscoin 0.2s;
}

.image-none {
	display: none;
}

@keyframes tosscoin {
	from { transform: rotateY(180deg);  }
  to { transform: rotateY(0); }
}

.coin-state-text {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}

.tosses-container {
	padding: 10px 20px 20px 20px;
	margin-top: 30px;
	width: 600px;

	border: 1px solid #416dfe;
	border-radius: 30px;
}

.tosses-text {
	font-weight: 400;
	font-size: 16px;

	padding: 10px 0 9px 0;

	text-align: start;
}

.toss-type {
	width: 60%;
}

.pagination-container {
	margin: 20px auto 0 auto;
}

.pagination-button {
	height: 48px;
	width: 48px;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid #416dfe;

	margin-left: 10px;

	font-size: 15px;

	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	background-color: #FFF;

	transition: 0.2s ease-in;
}

.pagination-button:hover {
	background-color: #416dfe;
	color: #FFF;
}

.pagination-inactive {
	cursor: not-allowed;
	background-color: rgba(0, 0, 0, 0.15);
}

.pagination-inactive:hover {
	color: inherit;
	background-color: rgba(0, 0, 0, 0.15);
}

.button-logout {
	position: fixed;
	bottom: 15px;
	left: 15px;
}

@media (max-width: 700px) {

	.tosses-container {
		width: auto;
	}

	.toss-type {
		width: 60%;
	}

	.button-logout {
		position: relative;
		bottom: auto;
		left: auto;
		margin-top: 20px;
	}

	.auth-page {
		margin-top: 5vh;
	}
}
