@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	font-family: 'Noto Sans', sans-serif;
}

body {
	padding: 10px;
}

.auth-page {
	display: grid;
	grid-template-areas: 'login register';

	margin-top: 20vh;
	margin: 20vh 5vw 0 5vw;
}

.auth-header {
	font-size: 36px;
	text-align: center;
}

.login-container {
	grid-area: login;
}

.register-container {
	grid-area: register;
}

.auth-form,
.coin-page {
	width: 310px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.label-form {
	font-weight: 600;
	font-size: 17px;
}

.input-form {
	outline: 0;
	border: 0;
	min-width: 300px;

	padding: 13px;
	margin: 10px 0 20px 0;

	font-size: 16px;

	border-radius: 28px;
	border: 1px solid #416dfe;
}

.button {
	outline: 0;
	border: 0;
	cursor: pointer;
	width: 250px;

	padding: 18px 0;
	margin-top: 15px;

	text-align: center;

	font-weight: 600;
	font-size: 17px;

	border-radius: 70px;

	transition: 0.2s ease-in-out;
}

.button:hover {
	box-shadow: 0px 0px 8px rgba(77, 136, 17, 0.55);
}

.button-primary {
	color: #fff;
	background-color: #416dfe;
}

.error {
	display: block;

	text-align: center;

	color: #e63946;
}

.coin-state-text {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}

.tosses-container {
	padding: 10px 20px 20px 20px;
	margin-top: 30px;
	width: 600px;

	border: 1px solid #416dfe;
	border-radius: 30px;
}

.tosses-text {
	font-weight: 400;
	font-size: 16px;

	padding: 10px 0 9px 0;

	text-align: start;
}

.toss-type {
	width: 60%;
}

.button-logout {
	position: fixed;
	bottom: 15px;
	left: 15px;

	background-color: #fff;
	border: 1px solid #416dfe;
}

.coin-image {
	display: block;
	height: 100px;
	width: 100px;
	margin: 0 auto;
	
	animation: tosscoin 0.2s;
}

.image-none {
	display: none;
}

@keyframes tosscoin {
	from { transform: rotateY(180deg);  }
  to { transform: rotateY(0); }
}